:root{
    --cultured: #dbe5e6;
    --army-green: #46540c;
    --laurel-green: #ABB78F;
    --beige: #fafafa;
    --bran-red: #cb3c3b;
    --rich-black: #121217;
}
body{
    background: var(--beige);
    font-family: 'Inter', sans-serif;
    color: var(--rich-black);
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    align-items: center;
    justify-items: center;
}
.card{
    border: 1px var(--cultured) solid;
    max-width: 411px;
}
.text-box{
    padding: 1em 2em;
}
.flex{
    display: flex;
    justify-content: left;
    gap: .7em;
    font-size: 12px;
}
h1,p:first-of-type{
    text-align: center;
}
/* Select p tag in cards */
p:last-child{
    text-align: left;
}
.link{
    display: flex;
    justify-content: space-between;
}
img{
    max-width: 411px;
    border: 1px var(--cultured) solid;
}
img:hover{
    transition: transform 0.3s ease 0s;
}
.link a{
    font-size: 14px;
    text-decoration: none;
    color: var(--cultured);
    background-color: var(--bran-red);
    border: 2px var(--bran-red) solid;
    padding: .7em 1.5em;
    border-radius: 22px;
}
a:hover{
    color: var(--bran-red);
    background: var(--cultured);
    font-weight: 600;
}

@media(max-width: 1200px){
    .main{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 900px){
    .main{
        grid-template-columns: 1fr;
    }
}