:root{
    --army-green: #46540c;
    --beige: #fafafa;
    --rich-black: #121217;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--beige);
}
/* Basic typography rules */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--rich-black);
    font-size: 3rem;
    letter-spacing: .04em;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 450;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
/* Buttons */
.primary-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px var(--army-green) solid;
    background-color: var(--army-green);
    color: var(--beige);
    letter-spacing: .2em;
    padding: 1.5em .7em;
    width: 40%;
}
.primary-btn:hover{
    background-color: #6D800F;
    border: 1px #6D800F solid;
    color: var(--rich-black);
    font-weight: 500;
}
.secondary-btn{
    border: 1px var(--army-green) solid;
    color: var(--rich-black);
    font-size: .9rem;
    letter-spacing: .2em;
    padding: 1.1em 3em;
}
.secondary-btn:hover{
    border: 1px var(--rich-black) solid;
    color: var(--beige);
    background-color: var(--rich-black);
}
/* Accessories */
.primary-btn ion-icon{
    transform: translateY(15px);
    animation: top-to-bottom 1s linear infinite;
}
.horizontal-line{
    border: none;
    height: 1px;
    background: var(--army-green);
    width: 90%;
}
.burger div{
    width: 28px;
    height: 3px;
    background-color: var(--rich-black);
    margin: 5px;
}
/* Components */
.wrapper{
    padding: 0 2em;
    margin: auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: .6em 0;
}
nav img{
    height: 50px;
}
.desktop-links{
    display: none;
}
/* Home */

/* Section-2 */
.primary-btn{
    margin-bottom: 4em;
}
.profile-img{
    width: 100%;
    height: 38vh;
    background-image: url(images/IMG_6687.jpg);
    background-repeat: no-repeat;
    background-size: 408px 257px;
}
/* Last section */
#contact-me h2{
    padding: 1.85em .75em;
    text-align: center;
    margin: auto;
    max-width: 225px;
}
#contact-me hr{
    display: none;
}
/* Footer */
.footer{
    background-color: var(--rich-black);
    text-align: center;
    font-size: 1.9rem;
    padding: .7em 0;
}
.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-icon{
    padding: .6em;
    color: var(--beige);
}
.goodreads{
    padding: .6em;
    filter: invert(100%) sepia(54%) saturate(1%) hue-rotate(1deg) brightness(110%) contrast(96%);
}
/* Portfolio */
.card img{
    width: 50%;
}
@keyframes top-to-bottom{
	0% { transform: translateY(0px);opacity: 1; }
	100% { transform: translateY(15px); opacity: 0; }
}
@media(min-width: 1175px){
    .wrapper{
        max-width: 1200px;
    }
    nav img{
        height: 80px;
    }
    .burger{
        display: none;
    }
    .desktop-links{
        display: inline;
    }
    .desktop-links a{
        color: var(--rich-black);
        font-size: 1.2rem;
        padding: 1em .75em;
    }
    .desktop-links a:hover{
        background-color: var(--rich-black);
        color: var(--beige);
    }
    .hero-text{
        background-color: var(--beige);
        max-width: 560px;
        position: absolute;
        top: 676px;
        z-index: 2;
    }
    #about-me{
        margin-top: 6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #about-me div{
        width: 50%;
        gap: 1em;
    }
    .profile-img{
        margin-top: 13em;
        height: 60vh;
        background-size: 540px 350px;
    }
    #contact-me{
        padding: 3em 1.5em;
        display: flex;
        align-items: center;
    }
    #contact-me h2{
        max-width: 325px;
    }
    #contact-me hr{
        display: inline;
        width: 53%;
    }
    .footer div{
        justify-content: right;
    }
    .card{
        padding: 2.5em 0;
        display: flex;
        align-items: center;
        gap: 2.5em;
        margin: 2em 0;
        }
    .card div img{
        width: 50%;
    }
    .card:nth-of-type(even){
        flex-direction: row-reverse;
    }
}