*{
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #f4f3f2; 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper{
  width: 90%;
  max-width: 1200px;
}
/* Navigation bar */
nav{
  background-color: #CDE7BE;
  height: 100px;
  font-size: 24px;
  box-shadow: 0 0 9px rgba(0,0,1);
}
label.logo {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: black;
  font-size: 1.8em;
  line-height: 80px;
  font-weight: 700;
  margin: 0 30px;
  cursor: pointer;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  /* color: white; */
}
.active,a:hover{
  font-weight: 900;
  cursor: pointer;
}
/* Hero image */
.banner {
  background-image: linear-gradient(rgba(1,1,1,0.1),rgba(1,1,1,0.3)), url(images/jana-sabeth-malta-wave.webp);
  background-size: cover;
  background-attachment: fixed;
  padding: 270px 70px;
  color: white;
}
.banner h1{
  text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  line-height: 2.4em;
  letter-spacing: 0.1em;
}

/* Quotation */
.quotation {
  padding: 270px 50px;
  background-color: #FB9F89;
}

/* About */
.about {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  min-height: 620px;
  align-items: center; 
}
.about p{
  margin: auto 40px;
  line-height: 1.8rem;  
}
.about img {
  background-size: cover;
  width: 100%;
  border-radius: 4px;
  box-shadow: 8px 6px 15px -5px rgba(0,0,0,0.64);
}

/* Portfolio */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}
.cards:nth-child(n+6){
  text-align: center;
}
.cards img {
  width: 90%;
  background-size: cover;
  box-shadow: -3px 2px 9px -3px rgba(0,0,0,0.82);
  margin: 20px;
}
.card {
  position: relative;
  border: #CDE7BE 3px solid;
  padding: 2em;
}
button{
  position: absolute;
  right: 50%;
  background-color: white;
  font-size: 18px;
  color: black;
  border: 2px solid #CDE7BE; 
  padding: 8px 24px;
  border-radius: 50px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: rgb(151, 194, 127); /* Green */
  color: white;
  font-weight: 700;
}
.unavailable{
  cursor: not-allowed;
}

/* Programming languages */
.programming-languages h4{
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  color: #a3abb7;
  padding: 40px;
}
.flexbox {
  display: flex;
  align-items: center;
  margin: 40px;
  padding-bottom: 90px;
  justify-content: space-around;
}
.flexbox img {
  /* height: 120px; */
}

/* Footer */
.footer {
  text-align: center;
  background-color: #CDE7BE;
  padding: 50px 40px;
  line-height: 3em;
}
.footer a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.footer img {
  height: 20px;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px){
  label.logo {
    font-size: 1.2em;
  }
  nav ul{
    display: none;
  }
  .about{
    grid-template-columns: 1fr;
  }
  .cards{
    grid-template-columns: 1fr;    
  }
}