@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=EB+Garamond:ital@1&family=Manrope:wght@200;300;400;700&family=Montserrat:wght@500&display=swap');

body {
  background-color: #f4f3f2;
}

.sticky-top {
  background: black;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  width: 100%;
  height: 760px;
  background-size: cover;
  background-position: bottom right;
  padding: 150px 0;
  line-height: 2.2rem;
  text-align: center;
}

.banner h1 {
  color: #101113;
  font-size: 70px;
  letter-spacing: 5px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  line-height: 2.2rem;
}

.banner h2 {
  color: #1b1818;
  font-family: 'Manrope', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 4rem;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}

.container {
  display: flex;
  align-content: center;
  background-color: #f4f3f2;
  padding: 100px;
  width: initial;
}

body h3 {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.about-container p {
  color: #626262;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.875;
  font-family: 'Manrope', sans-serif;
}


.profile-picture {
  height: auto;
  width: 100%;
  position: absolute;
  top: 25px;
  left: 25px;
  display: block;
  z-index: 2;
  border-radius: 3px;
}

.profile-texture {
  width: 485px;
  height: 380px;
  position: absolute;
  top: 10px;
  left: 47px;
  z-index: 1;
  border-radius: 5px;
}

.btn {
  font-style: bold;
  font-color: #374785;
  padding: 8px 24px;
  border-width: medium;
  border-radius: 4px;
  border-color: #374785;
  transition: background 0.3s ease;
  text-align: center;
  background-color: transparent;
  line-height: 1.5;
}

/*.btn-flat:hover {
  color: #0077b5 !important;
  background: #F7F7FF;
  border-color: #0077b5;
}*/

.carousel-item > .item > img {
  width: 480px;
  height: 520px;
}

.review-container {
  height: 300px;
  padding-top: 70px;
}

.review-container h5{
  text-align: center;
  font-family: 'Amiri', serif;
  font-size: 30px;
  color: #a3abb7;
}

.review-container h6{
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 55px;
  color: #1c222e;
}

.projects-container {
  display: flex;
  background-color: #ffd0ae;
  align-items: center;
  align-content: center;
  padding: 60px;
}

.projects-container h4 {
  align-content: center;
}

.programming-languages__container h4{
  text-align: center;
  font-style: 'Manrope', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  color: #a3abb7;
  padding: 40px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-bottom: 90px;
}

.flexbox img {
  width: 164px;
  height: 120px;
}

.copyright {
  background-color: #343a40;
  align-content: center;
  text-align: center;
  color: #f4f3f2;
  padding: 15px;
  line-height: 1rem;
}

.final-footer {
  background: #BFC0C0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.final-footer p {
  float: right;
  font-size: 10px;
  color: #384D48;
}

/*

.footer-links a:hover {
  opacity: 1;
}
*/
